// https://github.com/GoogleChromeLabs/sw-precache/blob/master/service-worker.tmpl

importScripts('/vendor/sw-toolbox/sw-toolbox.js');

var precacheConfig = <%= precacheConfig %>;
var cacheName = 'sw-precache-<%= version %>-<%= cacheId %>-' + (self.registration ? self.registration.scope : '');

toolbox.cache.name = cacheName;

toolbox.precache(precacheConfig.map(function (cache) { return cache[0] }))

toolbox.router.get('/css*', toolbox.cacheFirst);
toolbox.router.get('/images*', toolbox.cacheFirst);
toolbox.router.get('/js*', toolbox.cacheFirst);

toolbox.router.get('/', toolbox.cacheFirst, {
  cache: {
      name: 'pages',
  }
});

toolbox.router.get('/user', toolbox.cacheFirst, {
  cache: {
      name: 'pages',
  }
});

toolbox.router.get('/user/:name', toolbox.cacheFirst, {
  cache: {
      name: 'pages',
  }
});